{{ if default true .Site.Params.CarouselHomepage.enable }}
{{ if isset .Site.Data "carousel" }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
    <div class="home-carousel">
        <div class="dark-mask"></div>
        <div class="container">
            <div class="row home-carousel-layout">
                <div class="col-md-6 col-sm-12">
                    <div class="homepage owl-carousel"
                        data-autoplay="{{ default true .Site.Params.CarouselHomepage.auto_play }}"
                        data-slide-speed="{{ default 2000 .Site.Params.CarouselHomepage.slide_speed }}"
                        data-pagination-speed="{{ default 1000 .Site.Params.CarouselHomepage.pagination_speed }}">
                        {{ range $index, $item := sort .Site.Data.carousel "weight" }}
                        <div class="item" data-carousel-index="{{ $index }}">
                            <div class="row carousel-item-row">
                                <div class="col-xs-12 carousel-text-col">
                                    <h1>{{ $item.title | safeHTML }}</h1>
                                    {{ $item.description | safeHTML }}
                                    {{ if or $item.href $item.logo }}
                                    <div class="carousel-button-logo-wrapper">
                                        {{ if $item.href }}
                                        <div class="carousel-button-wrapper">
                                            <a href="{{ $item.href }}" class="carousel-learn-more-btn" style="{{ if $item.button_color }}background-color: {{ $item.button_color }} !important;{{ end }}color: #ffffff !important;">
                                                Learn More
                                            </a>
                                        </div>
                                        {{ end }}
                                        {{ if $item.logo }}
                                        <div class="carousel-logo">
                                            <img src="{{ $item.logo | relURL }}" alt="">
                                        </div>
                                        {{ end }}
                                    </div>
                                    {{ end }}
                                </div>
                                <div class="col-xs-12 carousel-image-col">
                                    {{ if $item.image }}
                                    <div class="carousel-image-wrapper">
                                        <img src="{{ $item.image | relURL }}" alt="{{ $item.title }}">
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                    <!-- /.project owl-slider -->
                </div>
                <div class="col-md-6 col-sm-12 carousel-widget-side">
                    <div class="carousel-widget-container">
                        <div class="bookeo-widget-wrapper">
                            <script type="text/javascript" src="https://bookeo.com/widget.js?a=33503UKWPH19AE3851031"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}

