<section class="bar background-pentagon no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2 style="color: #666666;">Various courses we offer are recognised by the following colleges:</h2>
                </div>
                
                <!-- College Logos Carousel -->
                <div class="college-logos-carousel-wrapper">
                    <div class="college-logos-fade-left"></div>
                    <ul class="owl-carousel college-logos-carousel"
                        data-items="5"
                        data-autoplay="true"
                        data-slide-speed="3000"
                        data-pagination-speed="1000">
                        <li class="item">
                            <div class="college-logo-item">
                                <img src="/img/org-logos/ACEM.svg" alt="ACEM" />
                            </div>
                        </li>
                        <li class="item">
                            <div class="college-logo-item">
                                <img src="/img/org-logos/ACSEP.png" alt="ACSEP" />
                            </div>
                        </li>
                        <li class="item">
                            <div class="college-logo-item">
                                <img src="/img/org-logos/ACN.png" alt="ACN" />
                            </div>
                        </li>
                        <li class="item">
                            <div class="college-logo-item">
                                <img src="/img/org-logos/acrrm.svg" alt="ACRRM" />
                            </div>
                        </li>
                        <li class="item">
                            <div class="college-logo-item">
                                <img src="/img/org-logos/anzca-logo.svg" alt="ANZCA" />
                            </div>
                        </li>
                        <li class="item">
                            <div class="college-logo-item">
                                <img src="/img/org-logos/CICM.png" alt="CICM" />
                            </div>
                        </li>
                        <li class="item">
                            <div class="college-logo-item">
                                <img src="/img/org-logos/RACDS.svg" alt="RACDS" />
                            </div>
                        </li>
                        <li class="item">
                            <div class="college-logo-item">
                                <img src="/img/org-logos/racgp.png" alt="RACGP" />
                            </div>
                        </li>
                        <li class="item">
                            <div class="college-logo-item">
                                <img src="/img/org-logos/RACP.png" alt="RACP" />
                            </div>
                        </li>
                        <li class="item">
                            <div class="college-logo-item">
                                <img src="/img/org-logos/brand_racs_logo.png" alt="RACS" />
                            </div>
                        </li>
                        <li class="item">
                            <div class="college-logo-item">
                                <img src="/img/org-logos/RANZCOG-Logo.svg" alt="RANZCOG" />
                            </div>
                        </li>
                        <li class="item">
                            <div class="college-logo-item">
                                <img src="/img/org-logos/Pzk_PVm8_400x400.png" alt="RANZCR" />
                            </div>
                        </li>
                    </ul>
                    <div class="college-logos-fade-right"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.bar -->

