<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">
        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">

                <div class="row">

                    <div class="col-md-12">

                        <div>
                          <p class="tagline" style="text-align: center; font-style: italic; color: #e76a1e; font-size: 36px; font-weight: bold; margin: 20px 0 40px 0;">&ldquo;Partnering with you in resuscitation mastery, clinical excellence and life changing outcomes&rdquo;</p>
                          {{ .Content }}
                        </div>

                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

            {{ partial "team.html" . }}

        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>

